# Основные зависимости
opencv-python
#opencv-contrib-python
numpy
#numpy<2.0.0
opencv-python
pillow
tkinter

# Raspberry Pi Camera
python3-picamera2

# Time of Flight Camera
ArducamDepthCamera

# Arduino
pyFirmata2